<header class="AboutHeader">
  About The Music Generator
</header>
<p></p>
<p>
  Welcome to my music generator website. I've been interesting in machine learning and I'm starting to get into more advanced topics like nueral networks.
  I trained a model using nueral network techniques to be able to generate piano music. All of the piano music should be original because the model is
  creating it for the first time. I hope to be able to train a model that can produce music with multiple instruments at the same time like an orchestra.
  But it's a work in progress. I hope you enjoy listening to never before heard music!
</p>
